/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navbar {
  border-radius: 0px;
}
.site-name {
  font-size: 25px;
  color: white;
}
.icon {
  color: gray;
}
span {
  margin-right: 3px;
}
.book-icon {
  color: black;
}
.book-icon2 {
  color: black;
}
p {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  font-size: 13px;
}
.btn-info, .btn-success, .btn-danger {
  color: #696969;
}
.actions {
  margin-top: 5px;
  margin-bottom: 5px;
}

span.glyphicon-wrench {
  color: black;
}

/* テーブルのサイズ指定 */

table th:nth-child(1) {
  width: 20%;
}
table th:nth-child(2) {
  width: 20%;
}
table th:nth-child(3) {
  width: 20%;
}
table th:nth-child(4) {
  width: 10%;
}
table th:nth-child(5) {
  width: 10%;
}

/* バリデーション */
.error_explanation {
  color: red;
}

/* サクセスメッセージ */
.flash {
  color: limegreen;
}


